<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>Onde estudar?</title>


<link rel="shortcut icon" href="/images/aluno.png">

<!-- Bootstrap itself -->
<link href="/3th-party/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Icons -->
<link href="/3th-party/font-awesome/css/font-awesome.min.css" rel="stylesheet"> 

<script src="/3th-party/jquery/jquery-2.2.4.min.js"></script>

<script src="/3th-party/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

	$(document).ready(function() {	
	
		$('a[id=modal]').click(function(e) {
			e.preventDefault();
			
			var id = $(this).attr('href');
		
			var maskHeight = $(document).height();
			var maskWidth = $(window).width();
		
			$('#mask').css({'width':maskWidth,'height':maskHeight});
	
			$('#mask').fadeIn(1000);	
			$('#mask').fadeTo("slow",0.8);	
		
			//Get the window height and width
			var winH = $(window).height();
			var winW = $(window).width();
	              
			$(id).css('top',  winH/2-$(id).height()/2);
			$(id).css('left', winW/2-$(id).width()/2);
		
			$(id).fadeIn(2000); 
		
		});
		
		$('.window .close').click(function (e) {
			e.preventDefault();
			
			$('#mask').hide();
			$('.window').hide();
		});		
		
		$('#mask').click(function () {
			$(this).hide();
			$('.window').hide();
		});			
		
	});

</script>




<style>

a {color:#333; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}

.link_normal{
    color:blue; text-decoration:underline;
}

#boxes .window {
 margin-left: 10px;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:15px;
  text-align: justify;
}

#boxes #dialog {
  width:280px; 
  height:345px;
  padding:13px;
  background-color:#ffffff;
}


.close{display:block; text-align:right;}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.controls {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pesquisa-botao {
	border: 1px solid #222;
	color: #eee;
	background: url(http://i.imgur.com/cz4sguf.png) no-repeat left #4591fa;
	margin-left: -3px;
	color: #fff;
	font: 'trebuchet ms', trebuchet;
	padding: 22px 12px 12px 20px;
	border: 0 none;
	font-weight: bold;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	font-size: 100%;
}


#pac-input {
	
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 250px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}

#panel-pesquisa {
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#panel-pesquisa select, #panel-pesquisa input {
	font-size: 15px;
}

#panel-pesquisa select {
	width: 100%;
}

#panel-pesquisa i {
	font-size: 12px;
}

#panel-pesquisa {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	left: 1px;
	top: 8%;
	
	
	
	padding: 5px;
	z-index: 5;
	
	
}

#right-panel h2 {
	font-size: 22px;
	margin: 0 0 5px 0;
}

#right-panel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 271px;
	width: 200px;
	overflow-y: scroll;
}

#right-panel li {
	background-color: #f1f1f1;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#right-panel li:nth-child(odd) {
	background-color: #fcfcfc;
}

#more {
	width: 100%;
	margin: 5px 0 0 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	background-color: #f1f1f1;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

li:nth-child(odd) {
	background-color: #fcfcfc;
}
</style>
<script>
	function HideContent(d) {
		document.getElementById(d).style.display = "none";
	}
	function ShowContent(d) {
		document.getElementById(d).style.display = "block";
	}
	function ReverseDisplay(d) {
		if (document.getElementById(d).style.display == "none") {
			document.getElementById(d).style.display = "block";
		} else {
			document.getElementById(d).style.display = "none";
		}
	}
</script>


</head>
<body>
	
	<!-- Modal -->
	<div class="modal fade" id="myModalIGC" tabindex="-1" role="dialog" aria-labelledby="myModalIGCLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalIGCLabel">O que é IGC?</h4>
	      </div>
	      <div class="modal-body">
	        O IGC (Índice Geral de Cursos) é um indicador de qualidade que avalia as instituições de educação superior.
			É construído com base numa média ponderada das notas dos cursos de graduação e pós-graduação de cada instituição.
			O IGC varia de 0 a 5, sendo os valores inferiores a 2 são considerados ruins.  
			Para saber mais acesse o portal do <a href="http://portal.inep.gov.br/educacao-superior/indicadores/indice-geral-de-cursos-igc" target="_blank" class="link_normal">INEP</a>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<div id="map">
	
		
	
	</div>
	
	
	
	
	
	<div id="panel-pesquisa">
	

	
		<div id="search" align="left">
			<form action="/search" method="post"  class="form" role="form">
				
				<div class="row">
		    		<div class='col-sm-12'>
						<div class="input-group">
						<span class="input-group-addon"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></span>
							<input type="text" class="form-control" id="inputChaveDaBusca" name="chaveDaBusca" placeholder="Nome do curso ou instituição..."> 
							<span class="input-group-btn"> <button class="btn btn-primary" type="submit">&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;</button> </span>
						</div>
					</div>
				</div>

			</form>
			
			<div class="row">
	    		<div class='col-sm-12'> 
					<a href="javascript: abrirModalIGC();">O que é IGC? </a>
				</div>
			</div>
			
			
	</div>

	<script>
	
		function abrirModalIGC(){
			$('#myModalIGC').modal({
				  keyboard: false
			});
		} 
		// This example adds a search box to a map, using the Google Place Autocomplete
		// feature. People can enter geographical searches. The search box will return a
		// pick list containing a mix of places and predicted search terms.

		// This example requires the Places library. Include the libraries=places
		// parameter when you first load the API. For example:
		// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

		function initAutocomplete() {

			var map = new google.maps.Map(document.getElementById('map'), {
				center : {
					lat : -15.7633,
					lng : -47.8702
				},
				zoom : 4,
				mapTypeId : google.maps.MapTypeId.ROADMAP
			});

			var resultado = [];
			var cursos = [];
			<% resultado.forEach(function (result, index) { %>
			cursos = [];
			<% result.cursos.forEach(function (curso, indexCurso) { %>
			cursos.push({nome:'<%= curso.nome %>', grau:'<%= curso.grau %>', vagas:'<%= curso.vagas %>', inscritos:'<%= curso.inscritos %>', concorrencia:'<%= curso.concorrencia %>', enade: '<%= curso.enade %>'});
			<% }); %>	
			resultado.push({nome:'<%= result.nome %>',
							categoria:'<%= result.categoria %>',
							coord : {lat : <%= result.coord.lat %>, lng : <%= result.coord.lng %>},
							igc: '<%= result.igc %>',
							cursos: cursos});						
			<% }); %>
			

			resultado.forEach(function (item, index) {

				var marker = new google.maps.Marker({
					position : item.coord,
					map : map,
					icon : '/images/educa_marcador.png',
					title : item.nome
				});

				var contentString = '<div id="content">'
					+ '<div id="siteNotice">'
					+ '</div>'
					+ '<h1 id="firstHeading" class="firstHeading">'+item.nome+'</h1>'
					+ '<h3 id="firstHeading" class="firstHeading">'+item.categoria+'</h3>'
					+ '<h3 id="firstHeading" class="firstHeading">'+item.igc+'</h3>'
					+ '<div id="bodyContent">'
					+ '<p><b>Cursos:</b></p>'
					+ '<ul>';

				item.cursos.forEach(function (curso, indexCurso) {
					
					var idDiv = index + 'uniquename' + indexCurso;
					contentString = contentString + 
					'<li><a href="javascript:ReverseDisplay(\''+idDiv+'\')">'+curso.nome+
					'('+curso.grau+')</a>' +
					'<div id="'+idDiv+'" style="display:none;"> ' +
					'<p>Número de vagas 2014: <b>'+curso.vagas+'</b></p>'+
					'<p>Número de inscritos: <b>'+curso.inscritos+'</b></p>'+
					'<p>Concorrência 2014: <b>'+curso.concorrencia+'</b></p>'+
					'<p>Enade: <b>'+curso.enade+'</b></p>'+
					'</div></li> ';
				});

				contentString = contentString 
					+ '</ul>'
					+ '</div>' 
					+ '</div>';

				var infowindow = new google.maps.InfoWindow({
					content : contentString,
					maxWidth : 500
				});

				marker.addListener('click', function() {
					infowindow.open(map, marker);
				});

			});

		}

		function processResults(results, status, pagination) {
			if (status !== google.maps.places.PlacesServiceStatus.OK) {
				return;
			} else {
				//alteracao de results
				results = [ {
					icon : '',
					name : 'UnB'
				}, {
					icon : '',
					name : 'CEUB'
				}, {
					icon : '',
					name : 'UCB'
				} ];
				createMarkers(results);

				if (pagination.hasNextPage) {
					var moreButton = document.getElementById('more');

					moreButton.disabled = false;

					moreButton.addEventListener('click', function() {
						moreButton.disabled = true;
						pagination.nextPage();
					});
				}
			}
		}

		function createMarkers(places) {
			var bounds = new google.maps.LatLngBounds();
			var placesList = document.getElementById('places');

			for (var i = 0, place; place = places[i]; i++) {
				var image = {
					url : place.icon,
					size : new google.maps.Size(71, 71),
					origin : new google.maps.Point(0, 0),
					anchor : new google.maps.Point(17, 34),
					scaledSize : new google.maps.Size(25, 25)
				};
				
				placesList.innerHTML += '<li>' + place.name + '</li>';

			}
			map.fitBounds(bounds);
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?language=pt-BR&key=AIzaSyAaOpMtN454GfUSKhLwSduchIfLuZgEoxw&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>